.App {
  text-align: center;
}


.guy {
  height: 100px;
}

.App-header {
  background-color: #282c34;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section {
  background-color: #ffffff;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.box {
  width: 48%;
  border: 3px solid #61dafb;
  padding: 25px;
  margin: 20px;
  font-size: 20px;
  color: #000000;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
